.CodeMirror-cursor {
  border-left: 2px solid #032f62;
  border-right: none;
  width: 0;
}

.CodeMirror {
  font-size: 16px;
  height: auto;
  white-space: pre-wrap;
  font-family: Menlo, "Ubuntu Mono", Consolas, "Courier New", "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}

.CodeMirror-line {
  line-height: 1.5em;
}

// same: github-markdown style
.cm-s-default .cm-header {
  color: #24292e;
}

.cm-header-1 {
  font-size: 32px;
}

.cm-header-2 {
  font-size: 24px;
}

.cm-header-3 {
  font-size: 20px;
}

.cm-header-4 {
  font-size: 16px;
}

.cm-header-5 {
  font-size: 14px;
}

.cm-header-6 {
  font-size: 12px;
}

.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6 {
  font-weight: bold;
}

.CodeMirror-activeline-background {
  background: #eee;
}